@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap');

.Form_maker{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top : 50px;

}
.options{
    margin-left : 70px;
}
.size2{
    font-size: 50px;
    font-weight: bold;
}
.Form_maker_Confirm{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-top : 50px;
    margin-left : 20%;
}

.size_title1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom : 50px;
    font-family: 'Baloo Tammudu 2', cursive !important;

}
.form-select-form-maker {
    display: block;
    padding: .375rem 2.25rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    color: #212529;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #212529;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 12%;
    margin-left: auto;
    margin-right: auto;
    text-align: center!important;
    display: inline-block;

}

.smaller_size{
    font-size: 20px;
    font-family: 'Baloo Tammudu 2', cursive !important;
    display: inline-block;
}
.form-control-Title {
    display: inline-block;
    width: 30%;
    padding: .375rem .75rem;
    font-size: 1.15rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #212529;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    margin-left: auto;
    margin-right: 23.2px;
    margin-bottom: 5px;

}
.form-control-Description {
    display: inline-block;
    width: 30%;
    padding: .375rem .75rem;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #212529;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;

}
.form-control-Question {
    display: inline-block;
    width: 30%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 0.8;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #212529;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;

}

.form-radio-input {
    width: 1.2em;
    height: 1.8em;
    margin-top: .25em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0,0,0,.25);
    margin-left : 20px
}

.form-check-input {
    width: 1.2em;
    height: 1.8em;
    margin-top: .25em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0,0,0,.25);
    margin-left : 20px
}

.btn-secondary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #fff;
    font-size: 15px;
}

.btn-outline-primary {
    color:  #212529;
    border-color:  #212529;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
}


.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}



.form-control {
    display: block;
    width: 30%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #212529;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    margin-left: auto;
    margin-right: auto;
}