body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.flex{
  display:flex;
}

.fdc {
  flex-direction: column;
}
.blue {
  color: #442dc9;
  font : Consolas;
}

.jcc{
  justify-content: center;
}

.bg_red{
  background-color:red;
}

.plr-1{
  padding-left:4px;
  padding-right:4px;
}

.plr-2{
  padding-left:8px;
  padding-right:8px;
}

.plr-3{
  padding-left:16px;
  padding-right:16px;
}


.mlr-1 {
  margin-left:4px;
  margin-right:4px;
}

.mlr-2 {
  margin-left:8px;
  margin-right:8px;
}

.mlr-3 {
  margin-left:16px;
  margin-right:16px;
}

.courseCard{
  cursor:pointer;
  width:calc(33.3% - 32px); 
  margin-left:16px;
  margin-right:16px;
  height:300px;
  border-radius:16px;
  overflow-y: hidden;
  display: inline-block;
  transition:0.3s all linear;
  background-color:white;
  box-shadow: 0 1.5rem 4rem rgba(22,28,45,.05)!important
}

.courseCard:hover{
  transform: translateY(-10px);
}

.category {
  background-color:white;
  color:#442dc9;
  padding-left:4px;
  padding-right:4px;
  cursor:pointer;
  padding-top:4px;
  padding-bottom:4px;
  border-radius:4px;
  font-size:16px;
}

.category.active{
  background-color:#442dc9;
  color:white;
}

.font_large{
	font-size:24px;
}
.bold{
	font-weight:600;
}
.red{
	color: red;
}